<!-- Modal -->
<div class="modal fade" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="popUpModalLabel">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-flex justify-content-center" style="gap: 50px;">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal"
                        @onclick="() => ConfirmClick(false)" style="width:150px;">
                    Close
                </button>
                <button type="button" class="btn btn-lg @ButtonStyle"
                        @onclick="() => ConfirmClick(true)" style="width:150px;">
                    @ButtonText
                </button>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public EventCallback<bool> OnModalConfirm { get; set; }

    [Parameter]
    public string Title { get; set; } = "Confirm Action";

    [Parameter]
    public string ButtonStyle { get; set; } = "btn-primary";
    [Parameter]
    public string ButtonText { get; set; } = "Confirm";

    private async Task ConfirmClick(bool result)
    {
        if(result)
            await OnModalConfirm.InvokeAsync(result);
    }
}